In [2]:
import pandas as pd 
import numpy as np

In [6]:
df = pd.DataFrame(
    [{"length": 168.8, "width": 64.1, "height": 48.8}, 
    {"length": 168.8, "width": 64.1, "height": 48.8},
    {"length": 180.0, "width": 65.5, "height": 52.4}]
)

df

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   180.0   65.5    52.4

In [8]:
# simple method
df["length"] = df["length"] / df["length"].max()
df

     length  width  height
0  0.937778   64.1    48.8
1  0.937778   64.1    48.8
2  1.000000   65.5    52.4

In [5]:
# min-max method
df["length"] = (df["length"]-df["length"].min()) / (df["length"].max()-df["length"].min())
df

   length  width  height
0     0.0   64.1    48.8
1     0.0   64.1    48.8
2     1.0   65.5    52.4

In [7]:
# z-score method
df["length"] = (df["length"]-df["length"].mean()) / df["length"].std()
df

     length  width  height
0 -0.577350   64.1    48.8
1 -0.577350   64.1    48.8
2  1.154701   65.5    52.4