In [1]:
# binnig: grouping of values into bins
# converts numeric into categorical variables
# group a set of numerical values into a set of bins

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../data/automobile.csv")
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [6]:
bins = np.linspace(min(df["price"]), max(df["price"]), 4)
bins

array([ 5118.        , 18545.33333333, 31972.66666667, 45400.        ])

In [7]:
group_names = ["Low", "Medium", "High"]
# numeric to categorical
df["price-binned"] = pd.cut(df["price"], bins, labels=group_names, include_lowest=True) # include low range

In [8]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,price-binned
195,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845,Low
196,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045,Medium
197,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485,Medium
198,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470,Medium
199,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625,Medium

In [15]:
# categorical to numeric - one hot encoding
# add dummy variables (0/1) for each unique category
pd.get_dummies(df['fuel-type'], dtype=int)

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
195       0    1
196       0    1
197       0    1
198       1    0
199       0    1

[200 rows x 2 columns]

In [11]:
pd.head()

AttributeError: module 'pandas' has no attribute 'head'